.competences-card{
    height:200px;
    background-image:linear-gradient(white,#d8d8d8);
    -moz-box-shadow: 2px 2px 25px 0px #343434;
    -webkit-box-shadow: 2px 2px 25px 0px #343434;
    -o-box-shadow: 2px 2px 25px 0px #343434;
    box-shadow: 2px 2px 25px 0px #343434;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=25);
    transition:box-shadow 0.2s ease-in;
    transition:background-image 0.2s ease-in;
    margin-bottom:5px;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

.competences-card > h2 {
    display:block;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align:center;
    transition:display 0.2s ease-in;
}

.competences-card > img{
    display:block;
    margin: 0 auto;
    width:50%;
    height:50%;
    transition:display 0.2s ease-in;
}

.competences-card > p{
    display:none;
}

.competences-card:hover{
    background-image:linear-gradient(white,#d8d8d8);
    -moz-box-shadow: 7px 7px 25px 0px #343434;
    -webkit-box-shadow: 7px 7px 25px 0px #343434;
    -o-box-shadow: 7px 7px 25px 0px #343434;
    box-shadow: 7px 7px 25px 0px #343434;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=135, Strength=25);
    transition:box-shadow 0.2s ease-in;
    transition:background-image 0.2s ease-in;
}

.competences-card:hover > h2{
    display:inline;
    position:relative;
    top:5px;
    transition:display 0.2s ease-in;
}

.competences-card:hover > img{
    display:inline;
    float:right;
    transition:display 0.2s ease-in;
    width:50px;
    height:50px;
    
}

.competences-card:hover > p{
    display:block;
}